<html>
<head>
	<title>Ventr</title>


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js" integrity="sha384-vZ2WRJMwsjRMW/8U7i6PWi6AlO1L79snBrmgiDpgIWJ82z8eA5lenwvxbMV1PAh7" crossorigin="anonymous"></script>

<link href='https://fonts.googleapis.com/css?family=Lato:100italic' rel='stylesheet' type='text/css'>

</head>

   <div class="container-fluid" id="darkness">
 	
	<body>


										<br>
										<br>
										<br>
		<div class="row">

			<div class="col-md-3 col-md-offset-4">
				<h1 class="title">Ventr</h1>
		   </div>
		
		</div>


		<div class="row">

	        <div class="col-md-3 col-md-offset-6">
				<h5 class="title">say your peace...</h5>
		    </div>

		</div>


	<br>
	<br>
	<br>
	<br>
			<button type="button" class="btn btn-danger-outline col-md-offset-5">
	 				<%= link_to "Continue", messages_path %>
			</button> 




		<style type="text/css">
  
        .container-fluid{
        	background-color: rgba(44, 4, 53, 0.4);
        	background-height: 80%;
        }
		.navbar-default {
		    display: none;
		}
		        


		  body{
		    background: url(http://images2.alphacoders.com/101/101070.jpg); 
		    background-color: rgba(0,0,0,0.6);
        	background-size:cover;
			background-position: center;
			background-attachment: fixed;


		   }

		 .title{
		 	font-family: 'Lato', sans-serif;
		 	color:#DDDDDD;
		 }


		 h1 {
              font-size: 5.5rem;
                      }

	    </style>


	</body>

	<style type="text/css">
         #navver{display:none;}
	</style>

</div>
</html>